// $icon-font-path: "~@blueprintjs/core/resources/icons";

//  #2f2f2f Lab: 19.4022 0.1281 -0.3011
//  #3b3b3b Lab: 25.0719 0.1486 -0.3494
//  #484848 Lab: 30.7415 0.1691 -0.3976
//  #545454 Lab: 35.7632 0.1873 -0.4403
//  #606060 Lab: 40.7850 0.2055 -0.4830
//  #6b6b6b Lab: 45.1587 0.2213 -0.5202
//  #767676 Lab: 49.5325 0.2371 -0.5574
//  #818181 Lab: 53.9062 0.2530 -0.5946
//  #8c8c8c Lab: 58.2800 0.2688 -0.6318
//  #999999 Lab: 63.3017 0.2870 -0.6745
//  #a7a7a7 Lab: 68.3234 0.3051 -0.7173
//  #b6b6b6 Lab: 73.9931 0.3257 -0.7655
//  #c5c5c5 Lab: 79.6627 0.3462 -0.8137
//  #d7d7d7 Lab: 85.9804 0.3690 -0.8674
//  #e9e9e9 Lab: 92.2980 0.3919 -0.9212

$dark-gray5: #111111;
$dark-gray4: #3b3b3b;
$dark-gray3: #484848;
$dark-gray2: #545454;
$dark-gray1: #606060;
$gray5: #6b6b6b;
$gray4: #767676;
$gray3: #818181;
$gray2: #8c8c8c;
$gray1: #999999;
$light-gray5: #a7a7a7;
$light-gray4: #b6b6b6;
$light-gray3: #c5c5c5;
$light-gray2: #d7d7d7;
$light-gray1: #e9e9e9;

//@import "~@blueprintjs/core/scripts/sass-custom-functions.js"

@import '~@blueprintjs/core/src/blueprint';
